<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.azurewebsites.cosy" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Login"
            android:label="Login" />
        <activity
            android:name=".Books"
            android:label="Books" >
        </activity>
        <activity
            android:name=".worksheet_Subjects"
            android:label="Worksheet Subjects " >
        </activity>
        <activity
            android:name=".Worksheet_Topic"
            android:label="Worksheet topics" >
        </activity>
        <activity
            android:name=".Worksheet"
            android:label="Worksheets" >
        </activity>
        <activity
            android:name=".AddSubject"
            android:label="AddSubject" >
        </activity>
        <activity
            android:name=".AddTopic"
            android:label="Add Topic" >
        </activity>
        <activity
            android:name=".AddWorksheet"
            android:label="Add Worksheet" >
        </activity>

        <activity
            android:name=".Questions"
            android:label="Add Questions" >
        </activity>
        <activity
            android:name=".AddBook"
            android:label="Add Book" >
        </activity>

        <activity
            android:name=".EditSubject"
            android:label="Edit Subject" >
        </activity>
    </application>

</manifest>
